.mirip-password{
  -webkit-text-security:disc;
}
.hijau_sedang{
  background-color: #bdffc7!important;
}
.kuning_sedang {
  background-color: #FCDA94!important;
}
.biru_sedang {
  background-color: #A8D3FF!important;
}
